# Node dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
storybook-static/

# Vite cache
.vite/

# Storybook cache
.storybook/manager-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Coverage reports
coverage/

# Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rollup Files
bundle-stats.html
